@import 'tailwindcss';

:root {
  --background: #f9f7f1;
  --hover-background: #eae7dc;
  --foreground: #27596c;
  --hover-foreground: #1e4a57;
}

@theme inline {
  --font-pinyon-script: var(--font-pinyon-script);
  --font-roboto: var(--font-roboto);
  --font-open-sans: var(--font-open-sans);
}

body {
  color: var(--foreground);
  background: radial-gradient(
    circle,
    var(--background) 0%,
    rgba(246, 215, 221, 1) 100%
  );
  font-family: var(--font-open-sans);
}
